<div class="form-group col-8 mb-3">
    <label for="title">Tytuł:</label>
    <input required type="text" name="title" class="form-control" value="<%= post.title %>">
    <small class="form-text text-muted"><%= error.title %></small>
</div>
<div class="form-group col-8">
    <label for="description">Treść:</label>
    <textarea required name="description" id="" cols="30" rows="10" class="form-control"><%= post.description %></textarea>
    <small class="form-text text-muted"><%= error.description %></small>
</div>
<div class="mt-2">
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="/" class="btn btn-primary">Anuluj</a>
</div>